<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>5PiuServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InserisciServlet</display-name>
    <servlet-name>InserisciServlet</servlet-name>
    <servlet-class>servlet.InserisciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciServlet</servlet-name>
    <url-pattern>/InserisciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeggiTuttoServlet</display-name>
    <servlet-name>LeggiTuttoServlet</servlet-name>
    <servlet-class>servlet.LeggiTuttoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeggiTuttoServlet</servlet-name>
    <url-pattern>/LeggiTuttoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaServlet</display-name>
    <servlet-name>CercaServlet</servlet-name>
    <servlet-class>servlet.CercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaServlet</servlet-name>
    <url-pattern>/CercaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettagliaServlet</display-name>
    <servlet-name>DettagliaServlet</servlet-name>
    <servlet-class>servlet.DettagliaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliaServlet</servlet-name>
    <url-pattern>/DettagliaServlet</url-pattern>
  </servlet-mapping>
</web-app>